@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;600;700;900&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    font-family: Poppins, Arial, Helvetica, sans-serif;
}

*,
body,
div,
span,
p {
    margin: 0px;
    padding: 0px;

    box-sizing: border-box;
}
