@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    font-family: Inter, Arial, Helvetica, sans-serif;
}

@layer components {
    .btn {
        @apply flex gap-2 justify-center items-center px-4 h-[42px] text-sm font-medium focus:outline-none focus:ring-2 focus:ring-offset-1 focus:ring-opacity-70 hover:scale-[98%] rounded-[4px] transition ease-in duration-75 flex-1;
    }

    .btn-default {
        @apply dark:hover:brightness-90 border dark:focus:ring-gray-600 text-gray-500 focus:ring-gray-500 dark:hover:bg-transparent  bg-transparent hover:bg-transparent dark:bg-transparent;
    }

    .btn-primary {
        @apply text-theme-white bg-theme-light-brand focus:ring-theme-light-brand;
    }

    .btn-danger {
        @apply text-theme-white bg-theme-light-danger focus:ring-theme-light-danger;
    }

    .btn-mini {
        @apply h-5 transition ease-in duration-75 hover:scale-125;
    }

    .input {
        @apply outline-none block p-4 w-full text-sm border placeholder:opacity-70 placeholder:h-7 focus:ring-0 disabled:opacity-60;
    }

    .input-primary {
        @apply border-theme-light-background-brand bg-gray-50 text-gray-600 rounded-sm  focus:ring-theme-light-brand focus:border-theme-light-brand dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-theme-light-brand dark:focus:border-theme-light-brand;
    }

    .checkbox {
        @apply w-10 dark:hover:bg-green-700 dark:text-green-700 dark:focus:bg-green-700;
    }

    .icon-input {
        @apply rounded-l-md inline-flex dark:bg-gray-600 dark:border-gray-600 items-center px-3 border-t border-l border-b bg-white border-theme-light-background-brand text-gray-500 dark:text-gray-300 shadow-sm text-sm;
    }
}

/* width */
::-webkit-scrollbar {
    width: 10px;
    height: 10px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #555;
}
